body { font-family: arial; padding: 0;margin: 0 }

#header { position: fixed;top: 0; left:0; }

#schedule-table { margin-top: 188px; }

table { border-collapse: collapse; }

table td,
table th { padding: 3px; width: 60px; }

th.ooh-cell,
td { border-bottom: 1px solid #000; border-right: 1px solid #000; }

.person-header { height: 120px; position: relative; }

.person-header .text { width: 100px; -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform-origin: 25% 25%; -moz-transform-origin: 25% 25%; -o-transform-origin: 25% 25%; transform-origin: 25% 25%; text-align: left; position: absolute; bottom: 10px; left: 0px; }

.header-date { border-bottom: 1px solid #fff; background-color: #fff }

.header-date-text-cell { background-color: #fff }

.date-cell { width: 140px; border-right: 3px solid #000; border-bottom: 1px solid #000; }

th.end-of-group,
.end-of-group { border-right: 3px solid #000; }

.schedule-row td { height: 40px;text-align: center; font-size: 2em; padding: 0 3px; }

.schedule-row.today td,
.schedule-row.today .date-cell { border-bottom: 3px solid #000; border-top: 3px solid #000; background-color: skyblue }

.schedule-row td div { margin: 5px auto 0 auto; }

#oncall-info { position: fixed; top: 5px; right: 5px; width: 300px; border: solid 3px #000; border-radius: 10px; padding: 5px; }

#oncall-info h2 { margin: 5px 0 0 0; }

.oncall-today-list { margin: 0; padding: 0; list-style: none }

.oncall-today-list > li { font-size: 1.1em; padding: 3px; border: solid 3px #000; border-radius: 10px; margin-top: 3px; }

.jump-to-this-week { border: solid 2px #000; border-radius: 5px; padding: 3px; font-size: 1.3em; cursor: pointer; }
